#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-inline: 1.25rem;
  width: 87.5rem;
  overflow-x: hidden;
}
.form {
  margin-top: 1.25rem;
}
.flex-container {
  display: flex;
  width: 87.5rem;
  justify-content: space-between;
}
.centermobile {
  margin-top: 0;
  margin-inline: 0.25rem;
}

.regards:nth-of-type(2) {
  transform: translateY(-2.18rem);
}
.regards {
  display: block;
  width: 10.25rem;
  font-size: 18px;
  margin-inline: 1.25rem;
  color: #fff;
  z-index: 999;
}

.main-heading {
  color: #8468ea;
  font-size: 2rem;
  text-align: center;
  width: 200vw;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin: 0 auto;
  margin-inline: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 999;
}
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-1.25rem);
  color: #fff;
  z-index: 999;
}
.register {
  left: 0;
  font-size: 24px;
  border: 0 transparent;
  transform: translateX(-4rem);
  text-align: left;
  color: #8468ea;
  margin-inline: 1.25rem;
  z-index: 999;
}

.smallheading {
  font-size: 1.13rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #8468ea;
  z-index: 999;
  transform: translateY(0.19rem);
}

.text {
  display: flex;
  margin-inline: 1.25rem;
  font-size: 1.13rem;
  line-height: 1.7;
  align-self: center;
  margin-top: 0.5rem;
  color: #fff;
  z-index: 999;
  list-style: circle;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: circle;
  align-items: flex-start;
  color: #fff;
  z-index: 999;
}

.nowrap {
  white-space: nowrap;
  font-size: 1.13rem;
  align-self: flex-start;
  top: -0.6rem;
  justify-self: center;
  line-height: 1.7;
  color: #fff;
  z-index: 999;
}
.inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 37.5rem;
  gap: 1.25rem;
  align-self: center;
  margin-inline: 18.8rem;
}
li > .smallheading {
  font-size: 1.13rem;
}
textarea {
  display: flex;
  align-self: center;
  width: 30vw;
  color: black;
  background: white;
  padding: 0.8rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.13rem;
  border: none;
  border-radius: 0.4rem;
  outline: none;
  resize: none;
  border-radius: 0.75rem;
  margin-inline: 12.5rem 0;
  border: 1px solid #ccc;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

input[type="text"] {
  display: flex;
  align-self: center;
  width: 42vw;
  max-width: 15rem;
  color: black;
  background: white;
  padding: 0.8rem 1rem;
  font-size: 1.13rem;
  border-radius: 0.4rem;
  outline: none;
  font-family: "Inter", sans-serif;
  border: 0.0625rem solid #cccccc;
}
input:focus-visible,
textarea:focus-visible {
  outline: 0.1875rem solid #8468ea;
  border-color: transparent;
}
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  color: black !important;
}
.slogan {
  display: block;
  position: absolute;
  transform: translateY(-26.5rem);
  margin-inline: 33.4rem;
  font-size: 24px;
}
/* Chrome, Edge, and Safari */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1.9rem white inset !important;
  /* Adjust the box-shadow color to match your background */
}
.row-inputs {
  margin-inline: 10rem 0;
}
.empathisetext {
  display: flex;
  margin-top: 1.25rem;
  margin-inline: 1.25rem;
  font-family: "Inter Tight", sans-serif;
  font-style: italic !important;
  white-space: nowrap;
  font-size: 1.13rem;
  color: #fff;
  z-index: 999;
}
.page-container .video {
  top: 0;
  left: 0;
  filter: brightness(90%);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
}

.page-container .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padding {
  transform: translateY(-2rem);
}

/* Firefox */
input:-moz-autofill,
textarea:-moz-autofill {
  -moz-box-shadow: 0 0 0 1.9rem white inset !important;
  /* Adjust the box-shadow color to match your background */
}
.logo {
  display: flex;
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
  margin-top: 3rem;
  width: 22rem;
  height: 20rem;
  align-self: center;
  justify-self: center;
}
/* Global button styles */
.btn-primary {
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.13rem;
  background: #8468ea;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-decoration: none;
  margin: 0.6rem;
  margin-inline: 51.5rem 0;
}
.width {
  white-space: nowrap;
  inline-size: 28.1rem;
  overflow-wrap: break-word;
}
.add {
  font-size: 25px;
  margin-top: 0.6rem;
  margin-inline: 0 18.8rem;
}
.trainotria {
  margin-inline: 3.9rem;
}
.sponsor {
  margin-inline: 5.1rem;
}

@media screen and (max-width: 900px) {
  .page-container {
    width: 43.8rem;
  }
  .slogan {
    display: block;
    position: absolute;
    white-space: nowrap;
    transform: translateY(-26.5rem);
    margin-inline: 11.7rem;
    font-size: 24px;
  }
 
  .flex-container {
    flex-direction: column;
    width: 13.3rem;
  }

  header {
    gap: 1.6rem;
  }

  .text {
    display: flex;
    margin-inline: 1.25rem;
    font-size: 1rem;
  }
  .nowrap {
    font-size: 1rem;
  }
  .row-inputs {
    margin-inline: 12.2rem 0;
  }

  .width {
    white-space: normal;
    inline-size: 28.1rem;
    overflow-wrap: break-word;
  }

  .centermobile {
    margin-top: 0;
    margin-inline: 0;
  }

  .empathisetext {
    margin-top: 1.25rem;
    margin-inline: 2rem;
    color: #fff;
    z-index: 999;
  }
  .register {
    font-size: 24px;
    border: 0 transparent;
    transform: translateX(10rem);
    margin-inline: 0;
  }
   .trainotria {
  transform: translateX(0);
  }
   .sponsor {
  transform: translateX(1.25rem);
}

  .main-heading {
    color: #8468ea;
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 0 auto;
    margin-inline: 0;
    transform: translateX(8.25rem);
    position: relative;
    left: 0%;
    box-sizing: border-box;
  }
  .addItem {
    width: 18.8rem;
    height: 2.4rem;
  }
  textarea {
    margin-inline: 7.5rem 0;
  }
  .text {
    font-size: 1rem;
  }
  .nowrap {
    font-size: 1rem;
  }
  .btn-primary {
    border-radius: 0.4rem;
    margin-inline: 50rem 0;
    font-size: 1.13rem;
  }
 
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-inline: 390px 0;
  }

  .padding {
    transform: translateY(-2rem);
  }
}
@media screen and (max-width: 370px), screen and (max-height: 670px) {
  .inputs {
    margin-inline: 23rem 0;
  }
  .btn-primary {
    margin-inline: 49rem 0;
  }

  textarea {
    margin-inline: 8.5rem 0;
  }
  .padding {
    transform: translateY(-2rem);
  }
  .row-inputs {
    margin-inline: 12.7rem 0;
  }
  .slogan {
    display: none;
    transform: translateY(-26.3rem);
  }
.regards {
  font-size: 1rem;
}
  .text,
  .nowrap,
  .regards {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
  }
}
