#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-inline: 20px;
  width: 1400px;

  overflow-x: hidden;
}

.form {
  margin-top: 20px;
}
.flex-container {
  display: flex;
  width: 1400px;
  justify-content: space-between;
}
.centermobile {
  margin-top: 0;
  margin-inline: 0.25rem;
}
.image-main {
  display: flex;
  background-image: url(../assets/kett.jpg);
  background-size: contain;
  width: 43rem;
  transform: translateX(-6.25rem);
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
}
.padding {
  transform: translateY(-30px);
}
.regards {
  display: block;
  width: 164px;
  margin-inline: 20px;
}
.image {
  display: flex;
  width: 23rem;
  height: 13rem;
  background-image: url(../assets/swimming.jpg);
  background-size: contain;
  align-self: flex-end;
  margin-inline: 0;
  background-repeat: no-repeat;
}

.main-heading {
  color: #8468ea;
  font-size: 32px;
  text-align: center;
  width: 200vw;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin: 0 auto;
  margin-inline: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register {
  left: 0;
  transform: translateX(-4rem);
  text-align: left;
  color: #8468ea;
  margin-inline: 20px;
}
.two {
  background-image: url(../assets/huckster.jpg);
}
.smallheading {
  font-size: 18px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #8468ea;
  transform: translateY(0.19rem);
}

.text {
  display: flex;
  margin-inline: 20px;
  font-size: 18px;
  line-height: 1.7;
  align-self: center;
  margin-top: 8px;
  list-style: circle;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: circle;
  align-items: flex-start;
}

.nowrap {
  white-space: nowrap;
  font-size: 18px;
  align-self: flex-start;
  top: -10px;
  justify-self: center;
  line-height: 1.7;
}
.width {
  white-space: normal;
  inline-size: 450px;
  overflow-wrap: break-word;
}
.inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 600px;
  gap: 1.25rem;
  align-self: center;
  margin-inline: 300px;
}

li > .smallheading {
  font-size: 18px;
}
textarea {
  display: flex;
  align-self: center;
  width: 30vw;
  color: black;
  background: white;
  padding: 0.8rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  outline: none;
  resize: none;
  border-radius: 12px;
  margin-inline: 200px 0;
  border: 1px solid #ccc;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

input[type="text"] {
  display: flex;
  align-self: center;
  width: 42vw;
  max-width: 15rem;
  color: black;
  background: white;
  padding: 0.8rem 1rem;
  font-size: 1rem;

  border-radius: 0.4rem;
  outline: none;
  font-family: "Inter", sans-serif;
  border: 0.0625rem solid #cccccc;
}

input:focus-visible,
textarea:focus-visible {
  outline: 0.1875rem solid #8468ea;
  border-color: transparent;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  color: black !important;
}

/* Chrome, Edge, and Safari */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* Adjust the box-shadow color to match your background */
}

.empathisetext {
  display: flex;
  margin-top: 200px;
  margin-inline: 1.25rem;
  font-family: "Inter Tight", sans-serif;
  font-style: italic !important;
  white-space: nowrap;
  font-size: 18px;
}

/* Firefox */
input:-moz-autofill,
textarea:-moz-autofill {
  -moz-box-shadow: 0 0 0 30px white inset !important;
  /* Adjust the box-shadow color to match your background */
}

/* Global button styles */
.btn-primary {
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  background: #8468ea;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-decoration: none;
  margin: 1.25rem;
  margin-inline: 830px 0;
  margin-bottom: 40px;
}
.small {
  width: 50px;
  height: 20px;
  font-size: 10px;
}
.add {
  font-size: 25px;
  margin-top: 10px;
  margin-inline: 0 300px;
}
.image-container {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}
@media screen and (max-width: 900px) {
  .page-container {
    width: 700px;
  }
  .flex-container {
    flex-direction: column;
    width: 500px;
  }
  header {
    gap: 15px;
  }
  .image {
    align-self: flex-end;
    transform: translateX(2.5rem);
  }

  .centermobile {
    margin-top: 0;
    margin-inline: 0;
  }

  .empathisetext {
    margin-top: 1.25rem;
    margin-inline: 2.25rem;
  }
  .register {
    transform: translateX(-2rem);
    margin-inline: 0;
  }
  .main-heading {
    color: #8468ea;
    font-size: 32px;
    text-align: center;
    width: 100vw;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 0 auto;
    margin-inline: 0;
    transform: translateX(8.25rem);
    position: relative;
    left: 0%;
    box-sizing: border-box;
  }
  .small {
    width: 50px;
    height: 20px;
    font-size: 10px;
  }
  .addItem {
    width: 300px;
    height: 39px;
  }
  textarea {
    margin-inline: 7.5rem 0;
  }
  .text {
    font-size: 16px;
  }
  .nowrap {
    font-size: 16px;
  }
  .btn-primary {
    border-radius: 0.4rem;
    margin-inline: 25rem 0;
    font-size: 1.25rem;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: 0;
  }
}
